.services_thumb_wrap .inner .overlay:hover {
  text-align: center;
}
.col-sm-6 {
  padding-top: 0px;
  padding-left: 15px;
}

/* about page */

.col-sm-5.bridge {
  padding-top: 0px;
}
.container.test {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 70px;
  padding-left: 70px;
}
.col-sm-6.box {
  padding-top: 40px;
}
.col-sm-6.stage {
  width: 40%;
  padding-top: 73px;
}
.container.capital {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 120px;
}
.col-sm-6.green {
  width: 60%;
}

/* BCG */

.container.partnerBCG {
  padding-top: 135px;
  padding-left: 85px;
  padding-right: 85px;
  padding-bottom: 135px;
}
.container.stats {
  padding-left: 80px;
  padding-right: 80px;
}

/* SHRINKING HEADER */

.head-shrink {
  top: 0;
  height: 51px;
}
.menu-shrink {
  margin-top: -11px;
}
.logo-shrink {
  width: 36px;
  margin: -13px 0px 0px 0px;
  transition: all 0.3s ease-in-out;
}

ul#hash_menu.container {
  width: 100%;
}
ul#hash_menu {
  background-color: #fff;
}
.inner.hover1:hover .stage_wrap .cart_icon_wrap {
    background: url(../images/cart_icon.png) no-repeat center center #fff;
}
.fa-angle-down {
  color: #fff;
}
.fa-angle-down:hover {
  color: #fff;
}
.fa-angle-right {
  color: #fff;
}
.fa-angle-down:hover {
  color: #fff;
}
#hidden {
  display: none;
}
/*HM*/


.menu-main-top-menu-container li {
    display: inline-block;
    margin-top: 43px;
}

.menu-main-top-menu-container {
    text-align: right;
}

.menu-main-top-menu-container ul li a {
    float: left;
    font-size: 14px;
    padding: 6px 11px;
    text-decoration: none;
    font-weight: 400;
    margin-left: 30px;
    text-transform: uppercase;
    font-family: 'Avenir-Black';
    border-bottom: 3px solid transparent;
    letter-spacing: 0.5px;
    color: #fff;
}


.mobile_header_main {
    height: auto !important;
}
div#undefined-sticky-wrapper {
    height: 0 !important;
}


header.header_1.sticky.head-shrink .menu-main-top-menu-container li {
    margin-top: 11px;
}
header.header_1.sticky.head-shrink .menu-main-top-menu-container ul li a{
  color: #000;
}


/*HM*/
header {
    float: left;
    width: 100%;
}

.single ul#menu-main-top-menu li a, .page-id-37 ul#menu-main-top-menu li a {
    color: #000;
}

.page-id-27 ul#menu-main-top-menu li a {
    color: #000;
}
.blogNewsInnerWrap p {
    margin-bottom: 0;
}

.blogNewsInnerWrap .cat_name {
 
    font-family: 'avenirheavy';
    font-weight: 400;
    display: block;
    color: #139c49;
}

.container.blogInnerPostWrap h1.entry-title {
    margin-top: 30px;
}




.tlp-content {
    position: absolute;
    bottom: 20px;
    left: 15px;
    background-color: rgba(255, 255, 255, 0.80) !important;
    width: 65%;
    /*padding: 20px 20px;*/
    padding: 12px 0 33px 20px !important;
    z-index: 250;
    
}

.tlp-content .designation {
    color: #000 !important;
}

.tlp-content h3 a {
    color: #000 !important;
}


.page-id-27 .tpl-social {
    display: none !important;
}

h2.tlp-member-title {
    font-size: 65px;
    font-family: 'avenirregular';
    margin-bottom: 5px;
    font-weight: 400;
}

.tlp-position {
    font-size: 25px;
    font-family: 'avenirregular';
}

.short-bio {
    position: absolute;
    bottom: 20px;
    z-index: 9999;
    left: 36px;
}

/*TEAM IMG 100%*/
.single-team-area img {
    width: 100%;
}

button#responsive-menu-button {
    /* z-index: 999999; */
    position: absolute;
    z-index: 999999;
}

header.mobile_header {
    float: left;
    width: 40%;
}

div#responsive-menu-container {
    position: absolute !important;
    z-index: 99999 !important;
}

header.mobile_header.sticky {
    z-index: 0 !important;
    position: relative !important;
}


ul#responsive-menu li a {
    text-transform: uppercase;
    
}


/*FLOAT LEFT HOME PAGE FOOTER*/



.page-id-5 .sec.sec2 {
    float: left;
    width: 100%;
}


.page-id-5 .sec.sec3 {
    float: left;
    width: 100%;
}


.page-id-5 footer.footer_1 .container {
    float: left;
    width: 100%;
}
.page-id-5 .home_email_sec_wrap {
    float: left;
    width: 100%;
}
.page-id-5 footer.footer_1 .row {
    float: left;
    width: 100%;
}


/*ABOUT*/

.page-id-8 div#stage {
    float: left;
    width: 100%;
}

.page-id-8 div#sec-start {
    float: left;
    width: 100%;
}

.page-id-8 .container.capital {
    float: left;
    width: 100%;
}

.page-id-8 div#investment {
    float: left;
    width: 100%;
}

.page-id-8 footer.footer_1 {
    float: left;
    width: 100%;
}

.page-id-8 .home_email_sec_wrap {
    float: left;
    width: 100%;
}

.page-id-8 footer.footer_1 .container {
    float: left;
    width: 100%;
}

/*about end*/

/*SLIDER HOME PAGE FOOTER*/

.chpcs_foo_content {
    text-align: left !important;
}



span.chpcs_title a {
  
    margin-bottom: 15px;
    font-size: 25px;
    color: #1c1c1c;
    font-weight: bold;
    text-transform: uppercase;
}

.chpcs_foo_content p {
    margin-bottom: 0;
}

span.chpcs_more a {
    font-size: 16px;
    font-weight: bold;
    color: #116647;
    font-family: 'avenirheavy';
}