body {
  /*font-family: 'Avenir';*/
  font-family: ‘Lato’, sans-serif;
  font-weight: bold;
  padding-top: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.services_thumb_wrap .inner .overlay:hover {
  /*text-align: center;*/
}
.col-sm-6 {
  padding-top: 0px;
  padding-left: 15px;
}

/* about page */

.col-sm-5.bridge {
  padding-top: 0px;
}
.container.test {
  padding-top: 100px;
  padding-bottom: 100px;
  padding-right: 140px;
  padding-left: 140px;
}
.col-sm-6.box {
  padding-top: 40px;
}
.col-sm-6.stage {
  width: 40%;
  padding-top: 73px;
}
.container.capital {
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 120px;
}
.col-sm-6.green {
  width: 60%;
}

/* BCG */

.container.partnerBCG {
  padding-top: 115px;
  padding-left: 160px;
  padding-right: 160px;
  padding-bottom: 135px;
}
.container.stats {
  padding-left: 160px;
  padding-right: 160px;
}

/* SHRINKING HEADER */

.head-shrink {
  top: 0;
  height: 51px;
}
.menu-shrink {
  margin-top: -11px;
}
.logo-shrink {
  width: 36px!important;
  margin: -13px 0px 0px 0px;
  transition: all 0.3s ease-in-out;
}
.fa-angle-down {
  color: #fff!important;
  margin-bottom: 70px;
}
.fa-angle-down:hover, .fa-angle-down:active {
  color: #fff;
}
.home .banner {
  top: -113px;
}
.home .entry-title, .page-id-27 .entry-title, .page-id-33 .entry-title {
  display: none;
}
footer.footer_1 .footer-social a:hover {
  border-color: #212121;
  color: #212121;
}
.blog_sec_wrap.owl-carousel .owl-controls .owl-nav .owl-prev, .blog_sec_wrap.owl-carousel .owl-controls .owl-nav .owl-next {
  background-image: none;
  color: #116647;
  background-color: #fff;
}
header.header_1.container {
  width: 100%;
}
#hash_menu {
  background-color: #fff;
}
.email_form_field .btn_1 {
  font-family: FontAwesome, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.news_inner_menu.clone.sticky {
  z-index: 1;
  width: 100%;
}
#video {
  object-fit: cover;
  width: 100%;
  height: auto;
}
.sec.sec2-mob.visible-xs.visible-sm, .sec.sec2-mob.visible-xs.visible-sm h3, .sec.sec2-mob.visible-xs.visible-sm h2, .sec.sec2-mob.visible-xs.visible-sm h5 {
  color: #fff;
}
.news_inner_menu.sticky {
  width: 100%;
}
.news_inner_menu.sticky .container {
  width: 100%;
}
#hidden {
  display: none;
}

/*HM*/
.page-id-27 .tpl-social {
  display: none !important;
}

.tlp-content {
  position: absolute;
  bottom: 18px;
  left: 15px;
  background-color: rgba(255, 255, 255, 0.80) !important;
  width: 65%;
  padding: 5px 20px 30px !important;
  z-index: 250;
}


.tlp-content h3 a {
  color: #000 !important;
}
.designation {
  color: #000 !important;
}

.single-team-area img {
  position: relative;
}

/*TEAM IMG 100%*/
.single-team-area img {
  width: 100%;
}
.short-bio {
  position: absolute;
  bottom: 18px;
  z-index: 9999;
  left: 38px;
}

/*NEWS Syle */
ul.pgafu-filter li a {
  background: none;
  text-transform: uppercase;
  font-size: 16px;
  color: #1c1c1c;
  font-family: 'avenirheavy';
  display: block;
  text-decoration: none;
  padding: 9px 22px;
}
.pgafu-filter li.pgafu-active-filtr a {
  background: none !important;
  color: #139c49 !important;
}
.pgafu-post-grid-main.pgafu-design-2 .pgafu-post-grid-content {
  border-bottom: 3px solid #139c49 !important;
  padding-bottom: 30px !important;
  width:  92%;
}

.pgafu-content-above-image h2 a {
  color: #1c1c1c !important;
}
.pgafu-post-short-content {
  color: #1c1c1c !important;
}

.pgafu-content-above-image h2 a:hover {
  color: #139c49 !important;
}

.page-id-33 .news_wrap {
  padding: 10px 70px;
  padding-top: 0px;
}
span.pgafu-time {
  font-style: normal !important;
  color: #1c1c1c !important;
  font-size: 15px !important;
}
span.pgafu-user-img {
  font-style: normal !important;
  font-family: 'avenirheavy' !important;
  font-weight: 400 !important;
  color: #139c49 !important;
  font-size: 15px !important;
}

/*PAGES STYLE MENU NEWS*/
.team-template-default ul#menu-main-top-menu li a {
  color: #000;
}

ul.pgafu-filter {
  margin-bottom: 25px;
  z-index: 2;
  background: #eee;
  position: absolute;
  left: 0px;
  width: 100%;
}
ul#hash_menu a {
  font-size: 20px;
}
.news_inner_menu.clone {
  padding: 0px;
}
.porfolio_wrap span {
  display: block;
  color: #fff;
}
.porfolio_wrap span:hover {
  color: #fff;
}
h2.tlp-member-title {
  font-size: 65px;
}
.tlp-position {
  font-weight: bold;
  font-size: 27px;
}
p.location {
  font-size: 27px;
}
.tpl-social a {
  float: left;
  width: 100%;
  margin-left: 0px;
  margin-top: 20px;
  display: inline-block;
  width: 37px;
  height: 37px;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
  color: #212121;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #22252c;
  background: #fff!important;
}
.pgafu-post-grid-main {
  padding: 10px 30px !important;
}
.banner {
  top: -120px;
}
.blog_sec_wrap.owl-carousel .owl-controls .owl-nav .owl-next {
  right: -19px;
}
.abt_boxes .inner:last-of-type {
  /*margin-left: 250px;*/
}
.stage_wrap .row:last-of-type .inner {
  padding-top: 39px;
}
.stage_wrap .cart_icon_wrap {
  bottom: 7px;
}
.sec.sp_padding {
  padding: 193px 0px;
}
.page-template-portfolio-template .heading_style_1 {
  margin-bottom: 60px;
}
.team_wrap {
  margin-top: 93px;
}

.BCGlogo {
  margin-bottom: 30px;
  margin-right: 10px;
}
h2.tlp-member-title {
  margin-top: -14px;
}
img.attachment-large.size-large.wp-post-image {
  /*margin-left: 23px;*/
}
.pgafu-post-date span {
  font-weight: normal;
}
.pgafu-user-img {
  text-transform: capitalize;
}
.heading_style_2 {
  padding-top: 34px;
}
.team_wrap_1 {
  margin-top: 75px;
}
div#pgafu-post-filtr-1 {
  padding: 0px;
  position: relative;
  margin-top: 53px;
  margin-right: 4%;
  margin-left: 6%;
}
.page-id-8 .fa-angle-down, .page-id-16 .fa-angle-down, .page-id-27 .fa-angle-down, .page-id-30 .fa-angle-down, .page-id-33 .fa-angle-down {
  margin-bottom: 36px;
}
.mission_wrap p {
  font-weight: normal;
}
p {
  font-weight: normal;
}
header.header_1.sticky.head-shrink {
  z-index: 99999;
  background: #fff;
}
.values_wrap .inner_nav ul li {
  margin-bottom: 13px;
}
.mission_wrap {
  margin-top: 206px;
  margin-bottom: 276px;
}
.responsive-menu-open button#responsive-menu-button .responsive-menu-box {
  display: none;
}
div#responsive-menu-container {
  z-index: 99999;
}
.responsive-menu-inner, .responsive-menu-inner::before, .responsive-menu-inner::after {
  background-color: #fff;
  width: 25px!important;
  height: 4px!important;
}
header.header_1.sticky .sf-menu {
  /*margin: 13px 0px;*/
}
.page-id-37 .responsive-menu-inner, .page-id-37 .responsive-menu-inner::before, .page-id-37 .responsive-menu-inner::after,
.single-team .responsive-menu-inner, .single-team .responsive-menu-inner::before, .single-team .responsive-menu-inner::after {
  background-color: #000!important;
}
#responsive-menu-container #responsive-menu li.responsive-menu-item a:hover {
  background: #65ba84!important;
}
.banner {
  background-color: transparent;
}
body.home .banner ul li:after {
  background-color: transparent;
}
.single-team-area:hover .tlp-content h3 a {
  color: #006a4e!important;
}
.tpl-social {
  margin: 0 auto !important;
}
.page-id-37 .sf-menu>li>a {
  color: #212121;
}
.overlay-team {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 93%;
  opacity: 0;
  transition: .5s ease;
  background-color: #212121;
  margin:auto;
}
.single-team-area:hover .overlay-team {
  opacity: 0.6;
}
.single-team .sec3 {
  display: none;
}
