@media only screen and (min-width: 1280px) and (max-width:1400px) {
  .services_thumb_wrap .inner .overlay {
    padding: 18% 8%;
  }
}
@media only screen and (min-width: 1440px) and (max-width:1600px) {
  .services_thumb_wrap .inner .overlay {
    padding: 20% 8%;
  }
}
@media only screen and (min-width: 1680px) and (max-width:1800px) {
  .services_thumb_wrap .inner .overlay {
    padding: 21% 8%;
  }
}
@media only screen and (min-width: 1920px) {
  .services_thumb_wrap .inner .overlay {
    padding: 25% 8%;
  }
  button#responsive-menu-button {
    background: transparent!important;
  }
}
@media only screen and (min-width: 1025px) {
.tlp-team .tlp-equal-height {
  margin-bottom: 9px!important;
  /*margin-right: -21px;*/
  /*width: 34.4%;*/
}
.tlp-team.container {
  padding-left: 6px;
  padding-right: 6px;
}
.testimonial_slider {
  padding: 111px 100px 127px 100px
}
}
@media only screen and (min-width: 1024px) and (max-width:1199px) {
  button#responsive-menu-button {
    background:transparent!important;
    top: 8px!important;
  }
  .responsive-menu-inner, .responsive-menu-inner::before, .responsive-menu-inner::after {
    background-color: #212121!important;
  }
  .owl-carousel {
    z-index: 0;
  }
  .tlp-team .tpl-social {
    margin-left: 16px!important;
  }
  .owl-carousel.owl-loaded {
    margin: 8% 0;
  }
  .stage_wrap .inner h3 {
    font-size: 21px;
  }
  .stage_wrap .cart_icon_wrap {
    width: 120px;
    height: 120px;
  }
  .stage_wrap .inner.inner4 {
    height: 321px;
  }

}
@media only screen and (min-width: 768px) and (max-width:1023px) {
  button#responsive-menu-button {
    background:transparent!important;
    top: 8px!important;
  }
  .owl-carousel {
    z-index: 0;
  }
  .services_thumb_wrap .inner .overlay h3 {
    margin-top: -45px;
  }
  .services_thumb_wrap .inner .overlay p {
    line-height: 1.5;
  }
  .news_inner_menu ul li {
    margin-right: -11px;
  }
  .abt_boxes .inner:last-of-type {
    margin-left: 0px;
  }
  .tlp-team .tpl-social {
    margin-left: 17px!important;
  }
  header.header_1.sticky.head-shrink {
    top: -1px!important;
  }
  .page-id-37 .sec.gray_bg {
    float: left;
    width: 100%;
  }
  ul.pgafu-filter.sticky {
    top: 49px!important;
  }
  .news_inner_menu.clone.sticky {
    top: 49px!important;
  }
  .home .owl-prev {
    position: relative;
    top: 150px;
    left: -200px;
    background: transparent!important;
  }
  .home .owl-next {
    position: relative;
    top: 150px;
    left: 200px;
    background: transparent!important;
  }
  .home .owl-dots {
    position: relative;
    top: 121px;
    width: unset;
    z-index: -99999;
  }
  .about .owl-prev {
    position: relative;
    top: 25px;
    left: -200px;
    background: transparent!important;
  }
  .about .owl-next {
    position: relative;
    top: 25px;
    left: 200px;
    background: transparent!important;
  }
  .about .owl-dots {
    position: relative;
    top: -4px;
    width: unset;
    z-index: -99999;
  }
  .responsive-menu-inner, .responsive-menu-inner::before, .responsive-menu-inner::after {
    background-color: #212121!important;
  }
  .stage_wrap .cart_icon_wrap {
    width: 100px;
    height: 100px
  }
  .stage_wrap .inner {
    padding: 31px 0px 20px 6px;
    width: 109%;
  }
  .stage_wrap .cart_icon_wrap {
    top: -42px;
  }
  .stage_wrap .inner h3 {
    font-size: 18px;
  }

}
@media only screen and (min-width: 480px) and (max-width:767px) {
  .page-id-33 .news_wrap {
    padding: 0px;
  }
  .home .banner {
    top: -52px;
  }
  .home .owl-prev {
    position: relative;
    top: 166px;
    left: -109px;
    background: transparent!important;
  }
  .home .owl-next {
    position: relative;
    top: 166px;
    left: 109px;
    background: transparent!important;
  }
  .home .owl-dots {
    position: relative;
    top: 137px;
    width: unset;
    z-index: -99999;
  }
  .about .owl-prev {
    position: relative;
    top: 50px;
    left: -109px;
    background: transparent!important;
  }
  .about .owl-next {
    position: relative;
    top: 50px;
    left: 109px;
    background: transparent!important;
  }
  .about .owl-dots {
    position: relative;
    top: 19px;
    width: unset;
    z-index: -99999;
  }
  .portfolio_top_wrap p {
    padding-right: 15px;
    padding-left: 15px;
  }
  .container.test {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .abt_boxes {
    width: 100%;
    height: 100%;
    padding-right: 0px;
  }
  .abt_boxes .inner {
    width: 100%;
    height: 100%;
    padding-right: 0px;
  }
  .container.capital {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-sm-6.stage, .col-sm-6.green {
    width: 100%;
    padding-top: 0px;
  }
  .container.stats {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .container.partnerBCG {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .container.partnerBCG h1 {
    text-align: center;
  }
  .news .news_inner_menu_main {
    height: 28px!important;
  }
  .news_wrap {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .abt_sec img.abt_inline {
    width: 49%;
  }
  .abt_sec img.abt_inline:first-of-type {
    margin-right: 0px;
  }
  .portfolio_top_wrap h5 {
    margin-top: 67%
  }
  .portfolio_top_wrap p {
    margin-bottom: 67%
  }
  .sec.gray_bg {
    background: #fff;
  }
  #video {
    object-fit: initial;
    width: 100%;
    height: 588px;
  }
  .blog_sec_wrap.owl-carousel .owl-controls .owl-nav .owl-next {
    position: relative;
    top: -106px;
    left: 153px;
  }
  .blog_sec_wrap.owl-carousel .owl-controls .owl-nav .owl-prev {
    position: relative;
    top: -106px;
    left: -160px;
  }
  button#responsive-menu-button {
    background: transparent!important;
  }
}
@media only screen and (min-width: 320px) and (max-width:479px) {
  .page-id-33 .news_wrap {
    padding: 0px;
  }
  .home .owl-prev {
    position: relative;
    top: 166px;
    left: -109px;
    background: transparent!important;
  }
  .home .owl-next {
    position: relative;
    top: 166px;
    left: 109px;
    background: transparent!important;
  }
  .home .owl-dots {
    position: relative;
    top: 137px;
    width: unset;
    z-index: -99999;
  }
  .about .owl-prev {
    position: relative;
    top: 50px;
    left: -109px;
    background: transparent!important;
  }
  .about .owl-next {
    position: relative;
    top: 50px;
    left: 109px;
    background: transparent!important;
  }
  .about .owl-dots {
    position: relative;
    top: 19px;
    width: unset;
    z-index: -99999;
  }
  .portfolio_top_wrap p {
    padding-right: 15px;
    padding-left: 15px;
  }
  .container.test {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .abt_boxes {
    width: 100%;
    height: 100%;
    padding-right: 0px;
  }
  .abt_boxes .inner {
    width: 100%;
    /*height: 203px;*/
    /*padding-right: 0px;*/
  }
  .container.capital {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-sm-6.stage, .col-sm-6.green {
    width: 100%;
    padding-top: 0px;
  }
  .container.stats {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .container.partnerBCG {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .container.partnerBCG h1 {
    text-align: center;
  }
  .news .news_inner_menu_main {
    height: 28px!important;
  }
  .news_wrap {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .abt_sec img.abt_inline {
    width: 49%;
  }
  .abt_sec img.abt_inline:first-of-type {
    margin-right: 0px;
  }
  .portfolio_top_wrap h5 {
    margin-top: 47%
  }
  .portfolio_top_wrap p {
    margin-bottom: 67%
  }
  .sec.gray_bg {
    background: #fff;
  }
  #video {
    object-fit: cover;
    width: 100%;
    height: 592px;
  }
  .blog_sec_wrap.owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
    right: -2px;
  }
 /* .blog_sec_wrap.owl-carousel .owl-controls .owl-nav .owl-prev {
    position: relative;
    top: -106px;
    left: -160px;
  }*/
  .services_thumb_wrap .inner .overlay {
    padding: 2% 4%;
  }
  .tpl-social {
    position: inherit;
    float: right;
    top: -62px;
    right: 31px;
    z-index: 1;
    width: 35px !important;
  }
  .single-team h2.tlp-member-title, .tlp-position, p.location {
    position: relative;
    top: -375px;
  }
  .tlp-member-feature-img {
    position: relative;
    top: 303px;
  }
  .pgafu-filter li {
    display: block!important;
  }
  .sub_menu {
    display: none;
  }
  .logo {
    display: none;
  }
  button#responsive-menu-button {
    background: transparent!important;
  }
  .home .banner {
    top: 0px;
  }
  .banner {
    top: 0px;
  }
  .banner img {
    height: 370px;
    object-fit: cover;
}
  .tlp-team.container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .tlp-team .tlp-equal-height {
    margin-bottom: 10px!important;
  }
  img.attachment-large.size-large.wp-post-image {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0px;
  }
  .testimonial_slider {
    /*padding: 120px 100px;*/
    margin-top: 80px;
  }
  .page-id-16 .banner img {
    height: 493px;
  }
  .page-id-16 .banner ul li .caption {
    /*top: 24%*/
  }
  .page-id-16 a.scroll_prompt.fa.fa-angle-down.fa-3x {
    margin-bottom: 36px;
  }
  .mission_wrap {
    margin-top: 133px;
    margin-bottom: 133px;
  }
  div#pgafu-post-filtr-1 {
    margin-top: 19%;
  }
  .connect_wrap {
    margin: 55px 0px;
  }
  .tlp-member-detail {
    margin-left: 15px;
    margin-right: 13px;
  }
  .banner ul li .caption {
    top: 32%;
  }
  .sec.abt_sec {
    margin-left: 14px;
    margin-right: 15px;
  }
  div#stage {
    margin-left: 13px;
    margin-right: 13px;
  }
  .services_thumb_wrap {
    padding: 0px 15px;
  }
  .home .services_thumb_wrap a.inner {
    margin-left: 15px;
    margin-right: 15px;
  }
   div#sec-start {
    margin-top: 23%;
  }
  div#undefined-sticky-wrapper {
    display: none;
  }
  .home figure h3 {
    display: none;
  }
}
/*TEST */
@media only screen and (min-width: 300px) and (max-width:350px) {
  .page-id-33 .news_wrap {
    padding: 0px;
  }
  .services_thumb_wrap .inner .overlay p {
    line-height: 1;
  }
   .overlay h3 {
    font-size: 13px !important;
  }
  .home .blog_sec_wrap.owl-carousel .owl-controls .owl-nav .owl-next {
    position: relative;
    left: 47%;
    top: -120px;
  }
  .single-team h2.tlp-member-title, .tlp-position, p.location {
    top: -331px;
  }
}
@media only screen and (min-width: 351px) and (max-width:400px) {
  .page-id-33 .news_wrap {
    padding: 0px;
  }
  .overlay h3 {
    margin-top: 17px;
  }
  .home .blog_sec_wrap.owl-carousel .owl-controls .owl-nav .owl-next {
    position: relative;
    left: 47%;
    top: -107px;
  }
}
@media only screen and (min-width: 401px) and (max-width:450px) {
  .page-id-33 .news_wrap {
    padding: 0px;
  }
  .overlay h3 {
    margin-top: 41px;
  }
  .home .blog_sec_wrap.owl-carousel .owl-controls .owl-nav .owl-next {
    position: relative;
    left: 47%;
    top: -93px;
  }

}
