@media only screen and (min-width: 1280px) and (max-width:1400px) {
  .services_thumb_wrap .inner .overlay {
    padding: 18% 8%;
  }
}
@media only screen and (min-width: 1440px) and (max-width:1600px) {
  .services_thumb_wrap .inner .overlay {
    padding: 20% 8%;
  }
}
@media only screen and (min-width: 1680px) and (max-width:1800px) {
  .services_thumb_wrap .inner .overlay {
    padding: 21% 8%;
  }
}
@media only screen and (min-width: 1920px) {
  .services_thumb_wrap .inner .overlay {
    padding: 25% 8%;
  }
  button#responsive-menu-button {
    background: transparent!important;
  }
}
@media only screen and (min-width: 426px) and (max-width:767px) {
  .home .banner {
    top: -52px;
  }
  .home .owl-prev {
    position: relative;
    top: 166px;
    left: -109px;
    background: transparent!important;
  }
  .home .owl-next {
    position: relative;
    top: 166px;
    left: 109px;
    background: transparent!important;
  }
  .home .owl-dots {
    position: relative;
    top: 137px;
    width: unset;
    z-index: -99999;
  }
  .about .owl-prev {
    position: relative;
    top: 50px;
    left: -109px;
    background: transparent!important;
  }
  .about .owl-next {
    position: relative;
    top: 50px;
    left: 109px;
    background: transparent!important;
  }
  .about .owl-dots {
    position: relative;
    top: 19px;
    width: unset;
    z-index: -99999;
  }
  .portfolio_top_wrap p {
    padding-right: 15px;
    padding-left: 15px;
  }
  .container.test {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .abt_boxes {
    width: 100%;
    height: 100%;
    padding-right: 0px;
  }
  .abt_boxes .inner {
    width: 100%;
    height: 100%;
    padding-right: 0px;
  }
  .container.capital {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-sm-6.stage, .col-sm-6.green {
    width: 100%;
    padding-top: 0px;
  }
  .container.stats {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .container.partnerBCG {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .container.partnerBCG h1 {
    text-align: center;
  }
  .news .news_inner_menu_main {
    height: 28px!important;
  }
  .news_wrap {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .abt_sec img.abt_inline {
    width: 49%;
  }
  .abt_sec img.abt_inline:first-of-type {
    margin-right: 0px;
  }
  .portfolio_top_wrap h5 {
    margin-top: 67%
  }
  .portfolio_top_wrap p {
    margin-bottom: 67%
  }
  .sec.gray_bg {
    background: #fff;
  }
  #video {
    object-fit: initial;
    width: 100%;
    height: 588px;
  }
  .blog_sec_wrap.owl-carousel .owl-controls .owl-nav .owl-next {
    position: relative;
    top: -106px;
    left: 153px;
  }
  .blog_sec_wrap.owl-carousel .owl-controls .owl-nav .owl-prev {
    position: relative;
    top: -106px;
    left: -160px;
  }
  button#responsive-menu-button {
    background: transparent!important;
  }
}
@media only screen and (min-width: 320px) and (max-width:425px) {
  .home .banner {
    top: -28px;
  }
  .home .owl-prev {
    position: relative;
    top: 166px;
    left: -109px;
    background: transparent!important;
  }
  .home .owl-next {
    position: relative;
    top: 166px;
    left: 109px;
    background: transparent!important;
  }
  .home .owl-dots {
    position: relative;
    top: 137px;
    width: unset;
    z-index: -99999;
  }
  .about .owl-prev {
    position: relative;
    top: 50px;
    left: -109px;
    background: transparent!important;
  }
  .about .owl-next {
    position: relative;
    top: 50px;
    left: 109px;
    background: transparent!important;
  }
  .about .owl-dots {
    position: relative;
    top: 19px;
    width: unset;
    z-index: -99999;
  }
  .portfolio_top_wrap p {
    padding-right: 15px;
    padding-left: 15px;
  }
  .container.test {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .abt_boxes {
    width: 100%;
    height: 100%;
    padding-right: 0px;
  }
  .abt_boxes .inner {
    width: 100%;
    height: 100%;
    padding-right: 0px;
  }
  .container.capital {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .col-sm-6.stage, .col-sm-6.green {
    width: 100%;
    padding-top: 0px;
  }
  .container.stats {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .container.partnerBCG {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .container.partnerBCG h1 {
    text-align: center;
  }
  .news .news_inner_menu_main {
    height: 28px!important;
  }
  .news_wrap {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .abt_sec img.abt_inline {
    width: 49%;
  }
  .abt_sec img.abt_inline:first-of-type {
    margin-right: 0px;
  }
  .portfolio_top_wrap h5 {
    margin-top: 67%
  }
  .portfolio_top_wrap p {
    margin-bottom: 67%
  }
  .sec.gray_bg {
    background: #fff;
  }
  #video {
    object-fit: initial;
    width: 100%;
    height: 588px;
  }
  .blog_sec_wrap.owl-carousel .owl-controls .owl-nav .owl-next {
    position: absolute;
  }
 /* .blog_sec_wrap.owl-carousel .owl-controls .owl-nav .owl-prev {
    position: relative;
    top: -106px;
    left: -160px;
  }*/
  .services_thumb_wrap .inner .overlay {
    padding: 2% 4%;
  }
  .tpl-social {
    position: relative;
    float: right;
    top: -57px;
    right: 12px;
  }
  h2.tlp-member-title, .tlp-position, p.location {
    position: relative;
    top: -400px;
  }
  .tlp-member-feature-img {
    position: relative;
    top: 303px;
  }
  .pgafu-filter li {
    display: block!important;
  }
  .sub_menu {
    display: none;
  }
  .logo {
    display: none;
  }
  button#responsive-menu-button {
    background: transparent!important;
  }
}
